body {
    background-image: url(https://media.istockphoto.com/vectors/cloudscape-blue-sky-with-clouds-and-sun-paper-art-style-vector-id916944562?k=20&m=916944562&s=612x612&w=0&h=7aUFQSoVHWGpv6AqKhGXLna9IVCVQ99qcUML3xwJ7Ro=);
}

.titleContainer {
    border: solid;
    background-color: lightblue;
}

#title {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-family: 'Prata', serif;
    margin-top: 8px;
}

#weather-cont {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}

.flex {
    display: flex;
    align-items: center;
}


.description {
    margin-left: 12px;
}

.searchContainer {
    border: double;
}

#searchBtn {
    background-color: white;
    border: solid;
}

#searchBtn:hover {
    color: pink;
}

#cards {
    text-align: center;
    width: 350px;
    height: 250px;
    
}
